@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 768px) {
    
body{
    background-image: url('../imagens/player-bsq.png');
    background-size: cover;
    display: flex;
    align-items: flex-end;
    animation: MudarImagem 36s infinite;
    
}

@keyframes MudarImagem {
    50% {
            background-image: url('../imagens/player.png');
        }
        

    100%{
            background-image: url('../imagens/player-bsq.png');
        }

    }


.container{
    display: none;
}


.popup_login{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffffde;
    border-radius: 20px;
    width: 100%;
    height: 50%;

}

.frase_popup{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 30px;
    color: #02023d;
    font-size: 1.3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}

.frase_popup > i{
    font-size: 1.1em;
    color: orange;
    cursor: pointer;
}

.usuario{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #327bcd;
    box-shadow: 1px 1px 5px #949494;
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
    padding: 15px;
    width: 65%;
}

.biometria{
    gap: 10px;
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-bottom: 20px;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .8em;
    font-weight: 500;
}

#bio_simbol{
    margin-right: 5px;
    font-size: 3.4em;
    color: #e09813;
}

.bio_acess{
    height: 100%;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #327bcd;
    margin-right: 20px;
}

.span_toggle > i{
    cursor: pointer;
    font-size: 4em;
    color: #327bcd;
}

.select_user{
    display: flex;
    width: 65%;
    cursor: pointer;
}

.select_user > span{
    border: 1px solid #2c89ed;
    gap: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: #2668ae;
    font-size: 1em;
    font-weight: 500;
    border-radius: 10px;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.select_user > span > i{
    font-size: .5em;
}

.services{
    color: #2668ae;
    cursor: pointer;
    font-weight: 700;
    font-size: .9em;
}

.services > i{
    font-size: .7em;
}

.principal{
    width: 100%;
    height: 100%;
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
}

.login_principal{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.principal > .frase_principal{
    color: white;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-weight: 600;

}

.entrar{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-flow: column wrap;
    background-color: white;
    border: 1px solid #79baff;
    color: #2668ae;
    padding: 40px;
    border-radius: 10px;

}

.entrar:hover{
    background-color: #ffffff5a;
    color: white;
    transition: .9s ease-in-out;
    transform: translateY(-10px);
}

.new_account{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-flow: column wrap;
    background-color: #ffffff;
    color: #2668ae;
    font-weight: 600;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #248bf9;
}

.new_account:hover{
    background-color: #ffffff5a;
    color: white;
    transition: .9s ease-in-out;
    transform: translateY(-10px);

}

.cadastro{
    border: 1px solid #3391dd;
    color: #ecf5ff;
    font-weight: 600;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
}

.cadastro:hover{
    background-color: #ffffffdb;
    color: #3177c1;
    cursor: pointer;
    transition: 2s;
    transform: translateY(-10px);
}

.services_principal{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #4c9ff7;
    cursor: pointer;
    font-weight: 700;
    width: 60%;
}

.services_principal:hover{
    transform: translateY(-5px);
    color: white;
    transition: 2s ease-in-out;
}
}